@import "tailwindcss";

* , *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
} 


@theme {
  --color-neutral-0: #ffffff;
  --color-neutral-200: #d4d3d9;
  --color-neutral-300: #acacb7;
  --color-neutral-600: #3c3b5e;
  --color-neutral-700: #302f4a;
  --color-neutral-800: #333250;
  --color-neutral-900: #02012c;
  --color-orange-500: #ffb20a;
  --color-blue-500: #4658d9;
  --color-blue-700: #2b189c;
  --font-DMSans: 'DM Sans', sans-serif;
  --font-Bricolage: 'Bricolage Grotesque', sans-serif
} 


.preset-1 {@apply font-[DM_Sans] italic font-semibold text-[96px] leading-[100%] tracking-[-2px];}
.preset-2 {@apply font-[Bricolage_Grotesque] font-bold text-[52px] leading-[120%] tracking-[0];}
.preset-3 {@apply font-[DM_Sans] font-light text-[32px] leading-[100%] tracking-[0];}
.preset-4 {@apply font-[DM_Sans] font-bold text-[28px] leading-[120%] tracking-[0];}
.preset-5 {@apply font-[DM_Sans] font-semibold text-[20px] leading-[120%] tracking-[0];}
.preset-5-m {@apply font-[DM_Sans] font-medium text-[20px] leading-[120%] tracking-[0];}
.preset-6 {@apply font-[DM_Sans] font-medium text-[18px] leading-[120%] tracking-[0];}
.preset-7 {@apply font-[DM_Sans] font-medium text-[16px] leading-[120%] tracking-[0];}
.preset-8 {@apply font-[DM_Sans] font-medium text-[14px] leading-[120%] tracking-[0];}

/* Spacing utilitaires margin et padding */
.spacing-m-0    { margin: 0; }
.spacing-m-025  { margin: 2px; }
.spacing-m-050  { margin: 4px; }
.spacing-m-075  { margin: 6px; }
.spacing-m-100  { margin: 8px; }
.spacing-m-125  { margin: 10px; }
.spacing-m-150  { margin: 12px; }
.spacing-m-200  { margin: 16px; }
.spacing-m-250  { margin: 20px; }
.spacing-m-300  { margin: 24px; }
.spacing-m-400  { margin: 32px; }
.spacing-m-500  { margin: 40px; }
.spacing-m-600  { margin: 48px; }
.spacing-m-800  { margin: 64px; }
.spacing-m-1000 { margin: 80px; }
.spacing-m-1200 { margin: 96px; }
.spacing-m-1400 { margin: 112px; }
.spacing-m-1600 { margin: 128px; }
.spacing-m-1800 { margin: 140px; }

.spacing-p-0    { padding: 0; }
.spacing-p-025  { padding: 2px; }
.spacing-p-050  { padding: 4px; }
.spacing-p-075  { padding: 6px; }
.spacing-p-100  { padding: 8px; }
.spacing-p-125  { padding: 10px; }
.spacing-p-150  { padding: 12px; }
.spacing-p-200  { padding: 16px; }
.spacing-p-250  { padding: 20px; }
.spacing-p-300  { padding: 24px; }
.spacing-p-400  { padding: 32px; }
.spacing-p-500  { padding: 40px; }
.spacing-p-600  { padding: 48px; }
.spacing-p-800  { padding: 64px; }
.spacing-p-1000 { padding: 80px; }
.spacing-p-1200 { padding: 96px; }
.spacing-p-1400 { padding: 112px; }
.spacing-p-1600 { padding: 128px; }
.spacing-p-1800 { padding: 140px; }






.radius-0    { border-radius: 0; }
.radius-4    { border-radius: 4px; }
.radius-6    { border-radius: 6px; }
.radius-8    { border-radius: 8px; }
.radius-10   { border-radius: 10px; }
.radius-12   { border-radius: 12px; }
.radius-16   { border-radius: 16px; }
.radius-20   { border-radius: 20px; }
.radius-24   { border-radius: 24px; }
.radius-full { border-radius: 999px; }


 